doctype html
html
  head
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
    script(src="/javascripts/main.js")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
